@{
    ViewData["Title"] = "Home Page";
}
<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Events</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Data</th>
            <th>Capacity</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Data</th>
            <th>Capacity</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>
              Instructor Name</br>
              Title:</br>
              Description:</br>
              Location:</br>
              Type:</br>
            </td>
            <td>01/01/2020 10:00 AM</td>
            <td>01/01/2020 11:00 AM</td>
            <td>5-30</td>
            <td>Open</td>
            <td>Actions!</td>
          </tr>
          <tr>
            <td>
              Instructor Name</br>
              Title:</br>
              Description:</br>
              Location:</br>
              Type:</br>
            </td>
            <td>01/01/2020 10:00 AM</td>
            <td>01/01/2020 11:00 AM</td>
            <td>5-30</td>
            <td>Open</td>
            <td>Actions!</td>
          </tr>
          <tr>
            <td>
              Instructor Name</br>
              Title:</br>
              Description:</br>
              Location:</br>
              Type:</br>
            </td>
            <td>01/01/2020 10:00 AM</td>
            <td>01/01/2020 11:00 AM</td>
            <td>5-30</td>
            <td>Open</td>
            <td>Actions!</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
