@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
  <div class="col-9">
    <div class="card-header">
      <i class="fa fa-briefcase"> Programming in C# - 20483 Course Outline</i> 
    </div>
    <div class="card-body">
       <span class="font-weight-bolder">Location: </span><span class="card-text">Room 1.</span>
       <br/>
       <span class="font-weight-bolder">Instructor: </span><span class="card-text">Prof. Xyz</span>
       <br/>
       <br/>
       <h5 class="card-title">Description</h5>
       <p class="card-text">This training course teaches the programming skills that are required for developers to create Windows applications using the C# language. During their five days in the classroom, students review the basics of C# program structure, language syntax, and implementation details, and then consolidate their knowledge throughout the week as they build an application that incorporates several features of the .NET Framework 4.5.</p>
       <h5 class="card-title">Course Outline</h5>
       <p class="card-text">
         <ul>
           <li>Module 1: Review of C# Syntax</li>
           <li>Module 2: Creating Methods, Handling Exceptions, and Monitoring Applications</li>
           <li>Module 3: Developing the Code for a Graphical Application</li>
           <li>Module 4: Creating Classes and Implementing Type-safe Collections</li>
           <li>Module 5: Creating a Class Hierarchy by Using Inheritance</li>
           <li>Module 6: Reading and Writing Local Data</li>
           <li>Module 7: Accessing a Database</li>
           <li>Module 8: Accessing Remote Data</li>
           <li>Module 9: Designing the User Interface for a Graphical Application</li>
           <li>Module 10: Improving Application Performance and Responsiveness</li>
         </ul>
       </p>
    </div>
  </div>
  <div class="col-3">
    <!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Users
    <div class="dropdown float-right">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Register
      </button>
      <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Register</a>
        <a class="dropdown-item" href="#">Invited</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th style="width:20px"><input type="checkbox"></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>qqq</td>
            <td><input type="checkbox"></td>
          </tr>
         <tr>
            <td>aaa</td>
            <td><input type="checkbox"></td>
          </tr>
           <tr>
            <td>aaa</td>
            <td><input type="checkbox"></td>
          </tr>
          <tr>
            <td>bbb</td>
            <td><input type="checkbox"></td>
          </tr>
          <tr>
            <td>dsfgs</td>
            <td><input type="checkbox"></td>
          </tr>
          <tr>
            <td>asasd</td>
            <td><input type="checkbox"></td>
          </tr>
          <tr>
            <td>asdf</td>
            <td><input type="checkbox"></td>
          </tr>
          <tr>
            <td>asdf</td>
            <td><input type="checkbox"></td>
          </tr>
          <tr>
            <td>asdf</td>
            <td><input type="checkbox"></td>
          </tr>
          <tr>
            <td>asdf</td>
            <td><input type="checkbox"></td>
          </tr>
          <tr>
            <td>asdf</td>
            <td><input type="checkbox"></td>
          </tr>
          <tr>
            <td>asdf</td>
            <td><input type="checkbox"></td>
          </tr>
          <tr>
            <td>asdf</td>
            <td><input type="checkbox"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
  </div>
</div>

